<footer id="fh5co-footer" role="contentinfo" style="background-color: #26282B;">
  <div class="container-fluid" >
    <div class="footer-content">
      <div class="copyright"><small>&copy; 2021 <br>Designed by FG: 
      </small></div>
      <div class="social">
        <a href="https://github.com/fuatguzel"><i class="icon-github"></i></a>
        <a href="https://twitter.com/fuatdev"><i class="icon-twitter2"></i></a>
        <a href="https://www.linkedin.com/in/fuat-guzel/"><i class="icon-linkedin2"></i></a>
      </div>
    </div>
  </div>
</footer>


<!-- jQuery -->
<script src="/js/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/js/bootstrap.min.js"></script>
<!-- masonry -->
<script src="/js/jquery.masonry.min.js"></script>
<!-- MAIN JS -->
<script src="/js/main.js"></script>