<footer id="fh5co-footer" role="contentinfo">
  <div class="container-fluid">
    <div class="footer-content">
      <div class="copyright"><small>&copy; 2021 Present.<br>Designed by FG: 
      </small></div>
      <div class="social">
        <a href="#"><i class="icon-facebook3"></i></a>
        <a href="#"><i class="icon-instagram2"></i></a>
        <a href="#"><i class="icon-linkedin2"></i></a>
      </div>
    </div>
  </div>
</footer>


<!-- jQuery -->
<script src="/js/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/js/bootstrap.min.js"></script>
<!-- masonry -->
<script src="/js/jquery.masonry.min.js"></script>
<!-- MAIN JS -->
<script src="/js/main.js"></script>