<header id="fh5co-header" role="banner">
  <div class="container text-center">
    <div id="fh5co-logo">
      <a href="/"><img src="/images/photo.png" width="50px" alt="Present Free HTML5 Bootstrap Template"></a>
    </div>
    <nav>
      <ul>
        <li><a href="/add" style="color: #5F85DB;">Add</a></li>
      </ul>
    </nav>
  </div>
</header>