<header id="fh5co-header" role="banner">
  <div class="container text-center">
    <div id="fh5co-logo">
      <a href="/"><img src="/images/logo.png" alt="Present Free HTML5 Bootstrap Template"></a>
    </div>
    <nav>
      <ul>
        <li><a href="/add">Add</a></li>
      </ul>
    </nav>
  </div>
</header>