<%- include('partials/_header') -%>
<body>
  <!-- NAV -->
  <header id="fh5co-header" role="banner">
    <div class="container text-center">
      <div id="fh5co-logo">
        <a href="/"><img src="images/logo.png" alt="Present Free HTML5 Bootstrap Template"></a>
      </div>
    </div>
  </header>

  <!-- CONTAINER -->
  <div class="container">
  <!-- contact -->
  <section data-page-id="page-4" class="content js-content">
                                
    <header class="box box-black margin-b-20">
        <h2 class="box-text page-title-text">Add New Photo</h2>
    </header>
    
    <div class="content-text">
        <p>In felis turpis, tincidunt a odio interdum, ornare interdum magna. Proin leo tortor, adipiscing et volutpat tincidunt, imperdiet sit amet purus.
        </p>
        <form method="POST" action="/photos"  class="contact-form" encType="multipart/form-data">

            <div class="form-group">
                <input type="text" name="title" class="form-control" placeholder="Photo Title" required/>
            </div>
            <!-- <div class="form-group">
                <textarea name="description" class="form-control" rows="4" placeholder="Photo Description" required></textarea>
            </div> -->
            <div class="form-group">
              <input type="file" class="form-control" name="image">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary submit-btn">Add</button>
            </div>
        </form>                           
    </div>            

  </section> <!-- #contact -->
</div>
  <!-- FOOTER -->
    <%- include('partials/_footer') -%>
</body>
</html>