<%- include('partials/_header') -%>
<body>
  <!-- NAV -->
  <%- include('partials/_navigation') -%>

  <!-- CONTAINER -->
  <div class="container-fluid pt70 pb70">
    <div id="fh5co-projects-feed" class="fh5co-projects-feed clearfix masonry">
      <div class="fh5co-project masonry-brick">
        <a href="single.html">
          <img src="images/img_20.jpg" alt="Free HTML5 by FreeHTML5.co">
          <h2>Your Project Title Here</h2>
        </a>
      </div>
      <div class="fh5co-project masonry-brick">
        <a href="single.html">
          <img src="images/img_19.jpg" alt="Free HTML5 by FreeHTML5.co">
          <h2>Your Project Title Here</h2>
        </a>
      </div>
      <div class="fh5co-project masonry-brick">
        <a href="single.html">
          <img src="images/img_3.jpg" alt="Free HTML5 by FreeHTML5.co">
          <h2>Your Project Title Here</h2>
        </a>
      </div>
      <div class="fh5co-project masonry-brick">
        <a href="single.html">
          <img src="images/img_4.jpg" alt="Free HTML5 by FreeHTML5.co">
          <h2>Your Project Title Here</h2>
        </a>
      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <%- include('partials/_footer') -%>
</body>
</html>