<%- include('partials/_header') -%>
<body>
<%- include('partials/_navigation') -%>
		<div class="page-content">
			<h1 class="mb0"><%= photo.title %> </h1>
			<div class="meta"><span><a href="#">Packaging</a>, <a href="#">Illustration</a></span></div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus quaerat nostrum, neque cum, quidem inventore consequatur sunt optio sint! Veritatis maiores recusandae dolores nihil cumque, eaque eius obcaecati voluptatum necessitatibus.</p>
			<p><img src="/images/img_large_1.jpg" alt="Free HTML5 by FreeHTML5.co"></p>
			<p><img src="/images/img_large_2.jpg" alt="Free HTML5 by FreeHTML5.co"></p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi saepe officia, consectetur praesentium minus reiciendis, accusamus consequuntur iusto ad illum quibusdam commodi facere tenetur. Culpa quia laborum quam, sint laboriosam delectus veniam, at molestiae magnam iusto similique dolorem ea doloremque!</p>
		</div>


		<%- include('partials/_footer') %>

	</body>
</html>

